[user]
	name = halfwhole
	email = limziwei2@gmail.com
[core]
	editor = vim
[alias]
	co = checkout
	br = branch
	st = status
	lg = log --color --graph --pretty=format:'%C(red)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(yellow)<%an>%Creset' --abbrev-commit
	amend = commit --amend --no-edit
	alias = config --get-regexp ^alias\\.
	cm = commit
	df = diff
	dfc = diff --cached
	s = status --short
[color]
	ui = true
